<div class="portrait">
	<img src="assets/IMG_9345_55 percent.jpg" class="img-responsive img-thumbnail" alt="Chul Kwon">
	<p></p>
	<p><b>Name: </b>Chul Kwon</p>
	<p>I'm developing this website entirely on Ruby on Rails to acquire a firm understanding of the framework.</p>
</div>
<!-- 
<div class="portrait_text">

</div> -->